/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

/* Header */
header {
    background: #007bff;
    color: white;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

header .tagline {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

/* Sección de Introducción */
#introduccion h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#introduccion p {
    font-size: 16px;
    line-height: 1.8;
    color: #666;
}

/* Sección de Videos */
#videos h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: space-around; /* Espacio entre los videos */
    gap: 30px; /* Distancia entre cada video */
    flex-wrap: wrap; /* Para que los videos se acomoden bien en pantallas pequeñas */
    margin-top: 20px;
}

.video-item {
    width: 30%; /* Cada video ocupa el 30% del contenedor */
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-description {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    font-weight: 500;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

/* Sección de Documentos */
#documentos h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#documentos iframe {
    border: none;
    border-radius: 8px;
}

.document-item {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.info {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .video-item {
        width: 100%; /* Los videos ocuparán el 100% del espacio disponible en pantallas pequeñas */
    }

    video {
        max-width: 100%; /* Aseguramos que los videos no excedan el tamaño del contenedor */
    }

    header h1 {
        font-size: 30px;
    }

    header .tagline {
        font-size: 16px;
    }
}
